{% extends 'master.html' %}
{% load static %}
{% block content %}

<!-- Gambar below header dan tulisan in the middle -->
<div class="header-image-container">
    <img src="{% static 'images/tennis-banner-3.jpg' %}" alt="Tennis Club">
    <div class="centered-text">
        <h2>Loui Er Jac Tennis Club</h2>
        <p>Play for Fun</p>
    </div>
</div>

<!-- Horizontal line -->
<hr>

<!-- Penjelasan Tennis Club -->
<article>gambar org main tennis nama program segede2 gaban article Jadwal, biaya dan Lokasi map cara daftar Peraturan
    Kegiatan tombol share program ke socmed => atur isi twit dan facebook post tombol back home
</article>

{% endblock %}